html {
    background-color: #FAF9F6;
}
/* for selection pages */
.container {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
/* for detailed pages */
#container {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

/*-------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #D3D3D3;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*-------------------------------------------------*/

.rw-wrapper{
    width: 80%;
    position: relative;
    margin: -50px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
}
.rw-words{
    display: inline-block;
}
.rw-words-1 span{
	max-width: 0;
	display: inline-block;
    opacity: 0;
    overflow: hidden;
    color: #588157;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    animation-delay: 3s;
    color: #588157;
}
.rw-words-1 span:nth-child(3) {
    animation-delay: 6s; 
    color: #588157; 
}
.rw-words-1 span:nth-child(4) {
    animation-delay: 9s; 
    color: #588157;
}
.rw-words-1 span:nth-child(5) {
    animation-delay: 12s; 
    color: #588157;
}
.rw-words-1 span:nth-child(6) {
    animation-delay: 15s; 
    color: #588157;
}
@keyframes rotateWord {
    2% { opacity: 0; max-width: 0; transform: translateY(-30px); }
    5% { opacity: 1; max-width: 200px; transform: translateY(5px);}
    17% { opacity: 1; max-width: 200px; transform: translateY(5px); }
    20% { opacity: 0; max-width: 0; transform: translateY(30px); }
    80% { opacity: 0; max-width: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

nav li {
    list-style: none;
}

nav > ul > li {
    height: 100px;
    padding-right: 50px;
    float: left;
}

nav > ul > li.sub {
    position: relative;
}

nav > ul > li.sub ul {
    position: absolute;
    top: 20px;
    width: 200px;
    visibility: hidden;
}

nav > ul > li.sub ul {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
}

nav > ul > li.sub:hover ul {
    opacity: 1;
    transition-delay: 0.1s;
    visibility: visible;
}

.glitch {
    font-size: 1rem;
    font-weight: 70;
    text-transform: lowercase;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 2000ms infinite;
}

@keyframes glitch {
    0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    0 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}
* {
    font-family: serif;
}
a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
    font-size: 18px;
}

#homeText {
    font-size: 18px;
}

#menuText {
    color:#000000;
    font-size: 18px;
}

#menuText:hover {
    color: #D3D3D3;
    transition: 0.3s;
}

/*-------------------------------------------------*/

#aboutText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#aboutText:hover {
    color: #D3D3D3;
}

#aboutDiv {
    float: right;
    width: 80%;
    white-space: nowrap;
}

#aboutMidDiv {
    float: right;
    width: 60%;
    padding-right: 20%;
    overflow-wrap: break-word;
    hyphens: manual;
}

#aboutTextHead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#aboutTextBio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20pt;
}

#aboutTextBelowBio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

#aboutExperience {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20pt;
}

/*-------------------------------------------------*/

#educationText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#educationText:hover {
    color: #D3D3D3;
}

#projectsText {
    color: #000000;
    font-size: 18px;
}

#projectsText:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 2000ms infinite;
}

@keyframes projectsText {
    0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    0 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

#contactText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#contactText:hover {
    color: #D3D3D3;
}

/*-------------------------------------------------*/
#ReturnHomeText {
    color:#000000;
    font-size: 18px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
}

#ReturnHomeText:hover {
    letter-spacing: 3px;
    font-variation-settings: "wght" 582;
}
/*-------------------------------------------------*/

#menuTextInPersonalInformation {
    color:#000000;
    font-size: 18px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
}

#menuTextInPersonalInformation:hover {
    letter-spacing: 3px;
    font-variation-settings: "wght" 582;
}

#personalInformationTextinPersonalInformationpage {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#personalInformationTextinPersonalInformationpage:hover {
    color: #D3D3D3;
}

#resumeText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#resumeText:hover {
    color: #D3D3D3;
}

#personalInformation {
    float: right;
    width: 75%;
    white-space: nowrap;
}

#personalInformationText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
}

#linkedInText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#linkedInText:hover {
    color: #0077b5;
}

#personalInformationImage {
    width: 350px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 35px;
    float: left;
}

#personalInformationBelowText {
    color: #000000;
    font-size: 18px;
}

#emailText {
    color: #000000;
    font-size: 18px;
    transition: 600ms ease;
}

#emailText:hover {
    color: #D3D3D3;
}

footer {
    position: relative;
    margin-top: auto;
    margin-bottom: 3%;
    text-align: center;
    clear: both;
    font-size: 16px;
}
