.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: white;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.job-list-container {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}