@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    background-color: #FAF9F6;
}

#moving-text {
    position: absolute;
    padding-top: 1%;
    white-space: nowrap;
    animation: move 20s linear infinite;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
  }
  
  @keyframes move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(1000%); }
  }

/* for selection pages */
.container {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
/* for detailed pages */
#container {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

figcaption {
    font-family: serif;
    line-height: 25pt;
}

.column {
    flex: 50%;
    padding: 3px;
}

.column:last-child {
    margin-right: 0;
}

.row {
    display: flex;
    margin: 0, -5px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  font-family: serif;
  font-size: 18px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.image-container:hover .caption {
  opacity: 1;
  visibility: visible;
}

hr.solid {
    border-top: 1px solid #000000;
    min-width: 440px;
  }
/*-------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1F1F1F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    text-decoration: none;
    color: #FAF9F6;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .sidenav a:hover {
    color: #D3D3D3;
  }

  .sidenav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.sidenav a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.navbartext {
    color: #FAF9F6;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*-------------------------------------------------*/

.rw-wrapper{
    width: 80%;
    position: relative;
    margin: -50px auto 0 auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;
}
.rw-words{
    display: inline-block;
    font-size: 18px;
}

/* previous coloe: #588157 */

.rw-words-1 span{
	max-width: 0;
	display: inline-block;
    opacity: 0;
    overflow: hidden;
    color: #6284A6;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    animation-delay: 3s;
    color: #6284A6;
}
.rw-words-1 span:nth-child(3) {
    animation-delay: 6s; 
    color: #6284A6; 
}
.rw-words-1 span:nth-child(4) {
    animation-delay: 9s; 
    color: #6284A6;
}
.rw-words-1 span:nth-child(5) {
    animation-delay: 12s; 
    color: #6284A6;
}
.rw-words-1 span:nth-child(6) {
    animation-delay: 15s; 
    color: #6284A6;
}
@keyframes rotateWord {
    2% { opacity: 0; max-width: 0; transform: translateY(-10px); }
    5% { opacity: 1; max-width: 200px; transform: translateY(5px);}
    17% { opacity: 1; max-width: 200px; transform: translateY(5px); }
    20% { opacity: 0; max-width: 0; transform: translateY(30px); }
    80% { opacity: 0; max-width: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

nav li {
    list-style: none;
}

nav > ul > li {
    height: 100px;
    padding-right: 50px;
    float: left;
}

nav > ul > li.sub {
    position: relative;
}

nav > ul > li.sub ul {
    position: absolute;
    top: 20px;
    width: 200px;
    visibility: hidden;
}

nav > ul > li.sub ul {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
}

nav > ul > li.sub:hover ul {
    opacity: 1;
    transition-delay: 0.1s;
    visibility: visible;
}

.glitch {
    font-size: 1rem;
    font-weight: 70;
    text-transform: lowercase;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 2000ms infinite;
}

@keyframes glitch {
    0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    0 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}
* {
    font-family: serif;
}
a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
    font-size: 18px;
}

#homeText {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#menuText {
    color:#000000;
    font-size: 18px;
}

#menuText:hover {
    color: #D3D3D3;
    transition: 0.3s;
}



/*-------------------------------------------------*/

.fade {
    opacity: 0;
    transition: opacity 1s;
  }

#aboutText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#aboutText:hover {
    color: #D3D3D3;
}

#aboutDiv {
    float: right;
    width: 80%;
    white-space: nowrap;
}

#aboutMidDiv {
    float: right;
    width: 60%;
    padding-right: 20%;
    overflow-wrap: break-word;
    hyphens: manual;
}

#aboutEducation {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

#aboutMidDivExperience {
    float: right;
    width: 60%;
    padding-right: 20%;
    overflow-wrap: break-word;
    hyphens: manual;
}

#aboutTextHead {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}

#aboutTextBio {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 20pt;
}

#aboutTextBelowBio {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
}

#aboutExperience {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 20pt;
}

#aboutExternal {
    color: #6284A6;
    font-size: 18px;
    transition: 700ms ease;
    font-family: 'Inter', sans-serif;
}

#aboutExternal:hover {
    color: #D3D3D3;
}

#spotifyExternal {
    color: #1DB954;
    font-size: 18px;
    transition: 700ms ease;
    font-family: 'Inter', sans-serif;
}

#spotifyExternal:hover {
    color:#D3D3D3;
}

.aboutIMG {
    width: 100%;
    height: auto;
    padding: 5px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.aboutIMG:hover {
    opacity: 0.65;
}

.aboutUW {
    color: #4b2e83;
}

.aboutSpheres {
    color: #004900;
}

.blossom {
    display: inline-block;
}
.spheres {
    display: inline-block;
}
img {
    vertical-align: middle;
}

.image-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img {
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

@media (max-width: 768px) {
    .image-container{
        flex-basis: 50%;
    }
}

@media (max-width: 768px) {
    .image-container {
        flex-basis: 100%;
    }
}

/*-------------------------------------------------*/

#educationText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#educationText:hover {
    color: #D3D3D3;
}

#educationDiv {
    float: right;
    width: 80%;
    white-space: nowrap;
}

#educationMidDiv {
    float: right;
    width: 60%;
    padding-right: 20%;
    overflow-wrap: break-word;
    hyphens: manual;
}

.educationIMGandTextDiv {
    width: 100%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

#educationTextHead {
    font-family: serif;
    font-size: 35px;
}

#educationBelowHead {
    font-family: serif;
    font-size: 25px;
}

.educationText {
    font-family: serif;
    font-family: 18px;
    line-height: 25pt;
}

.educationBoldText {
    font-weight: bold;
}

#educationDate {
    font-family: serif;
    font-size: 18px;
    color: #000000;
}

#educationBC {
    font-family: serif;
    font-size: 23px;
    font-weight: bold;
}

.educationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.educationIMG {
    flex-wrap: wrap;
}

.educationIMGtext {
    font-family: serif;
    font-size: 18px;

}

.educationMajor {
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    font-size: 18px;
}

.boat {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    min-width: 160px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    min-width: 210px;
    max-width: 500px;
}

.flex-child:first-child {
    margin-right: 20px;
}
/*-------------------------------------------------*/

#projectsText {
    color: #000000;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#projectsText:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 1200ms infinite;
}

@keyframes projectsText {
    0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    0 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

/* inside the projects page */

.animate-charcter {
    font-family: JetBrains Mono, monospace;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ead1a8 0%,
        #d3d3d3 29%,
        #6284A6 67%,
        #ead1a8 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 160px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#projectDiv {
    float: right;
    width: 80%;
    white-space: nowrap;
}

.projectLink {
    font-family: JetBrains Mono, monospace;
    font-size: 35px;
}

#projectTitle {
    font-family: JetBrains Mono, monospace;
    font-size: 35px;
    background-image: linear-gradient(
        -225deg,
        #ead1a8 0%,
        #d3d3d3 29%,
        #6284A6 67%,
        #ead1a8 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
}

#projectInsideText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-------------------------------------------------*/

#contactText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#contactText:hover {
    color: #D3D3D3;
}

/*-------------------------------------------------*/
#ReturnHomeText {
    color:#000000;
    font-size: 18px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ReturnHomeText:hover {
    letter-spacing: 3px;
    font-variation-settings: "wght" 582;
}
/*-------------------------------------------------*/

#menuTextInPersonalInformation {
    color:#000000;
    font-size: 18px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#menuTextInPersonalInformation:hover {
    letter-spacing: 3px;
    font-variation-settings: "wght" 582;
}

#personalInformationTextinPersonalInformationpage {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#personalInformationTextinPersonalInformationpage:hover {
    color: #D3D3D3;
}

#resumeText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#resumeText:hover {
    color: #D3D3D3;
}

#personalInformation {
    float: right;
    width: 75%;
    white-space: nowrap;
}

#personalInformationText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
}

#linkedInText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#linkedInText:hover {
    color: #0077b5;
}

#githubText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#githubText:hover {
    color: #d3d3d3;
}

#instagramText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#instagramText:hover {
    color: #833AB4;
}

#instagramText2 {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
}

#instagramText2:hover {
    color: #FCAF45;
}

#personalInformationImage {
    width: 350px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 35px;
    float: left;
}

#personalInformationBelowText {
    color: #000000;
    font-size: 18px;
}

#emailText {
    color: #000000;
    font-size: 18px;
    transition: 600ms ease;
}

#emailText:hover {
    color: #D3D3D3;
}

footer {
    position: relative;
    margin-top: auto;
    margin-bottom: 3%;
    text-align: center;
    clear: both;
    font-size: 16px;
}

/* for blog.html */
#blogText {
    color: #000000;
    font-size: 18px;
    transition: 700ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#blogText:hover {
    color: #D3D3D3;
}

#work-in-progress {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center */
}
