@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    max-width: 100vw;
    overflow-x: hidden;
    /* cursor: none; */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw; /* Adjust these values as needed */
    position: fixed;
    width: 90vw; /* Adjust based on your design */
    z-index: 1000;
}

.name-box, .about {
    position: fixed;
    position: static;
}

.name-box {
    padding-top: 3vh;
    padding-left: 5vw;
    float: left;
    position: fixed;
    z-index: 1000;
}

.inside-name-box {
    font-family: Inter;
    color: #1f1f1f;
    font-size: 2.5vh;
    transition: 700ms ease;
    font-family: Inter;
}

.inside-name-box:hover {
    color: #E1AD01;
}

.link-separator {
    display: inline-block;
    width: 20px;
}

.about-top-right {
    font-family: Inter;
    color: #1f1f1f;
    font-size: 2.5vh;
    transition: 700ms ease;
    font-family: Inter;
    position: relative;
    overflow: hidden;
}

.resume-top-right {
    font-family: Inter;
    color: #1f1f1f;
    font-size: 2.5vh;
    transition: 700ms ease;
    font-family: Inter;
    position: relative;
    overflow: hidden;
}

.about {
    padding-top: 3vh;
    right: 5vw;
    position: fixed;
    z-index: 999;
}
/*
.about span {
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.about span:hover {
    color: #000000;
}
*/

.inside-about {
    font-family: Inter;
    color: #000000;
    font-size: 2.5vh;
    transition: 700ms ease;
    font-family: Inter;
    position: relative;
    overflow: hidden;
}

/*
.about span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.about span:hover::before {
    transform: scaleX(1);
    visibility: visible;
    transform-origin: left;
    width: 100%;
}
*/

.header-div {
    padding-left: 5vw;
    padding-top: 8vh;
    padding-right: 20vw;
    max-width: 1000px;
    height: 100vh;
}

.header-text {
    font-size: 7vh;
    color: #000000;
    font-family: Inter;
}

.hello {
    color: #E1AD01;
}

.footer-div {
    background-color: #1f1f1f;
    display: flex;
    padding-left: 6rem;
    padding-top: 7rem;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

a {
    color: #000000;
    text-decoration: none;
}

.about-header-div {
    padding-left: 25vw;
    padding-right: 20vw;
    padding-top: 5vh;
    padding-bottom: 2vh;
    background-color: white;
    max-width: 700px;
}

.about-header-text {
    font-size: 4vh;
    color: #000000;
    font-family: Inter;
}

.about-text {
    font-size: 2.25vh;
    color: #000000;
    font-family: Poppins;
    font-weight: thin;
}

.lavender-div {
    padding-left: 23vw;
    padding-right: 15vw;
    padding-bottom: 0vh;
    padding-top: 1.5vh;
    justify-content: center;
    max-width: 800px;
}

.lavender-image {
    width: 100%;
    height: 100%;
}

.sub-sub-header {
    padding-top: 1vh;
    font-size: 4vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-header-div {
    padding-left: 25vw;
    padding-right: 15vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    /* background-color: white; */
    max-width: 800px;
    position: relative;
    /* justify-content: center; */
}

.sub-header-div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;
    background-color: #1f1f1f;
    height: 100vh;
}

.education-school {
    font-size: 2.75vh;
    color: #000000;
    font-family: Inter;
    line-height: 1vh;
}

.education-degree {
    font-size: 2vh;
    color: #000000;
    font-family: Inter;
    line-height: 2vh;
}

.education-specifics {
    font-size: 1.8vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0vh;
}

.small-gray-text {
    font-size: 1.8vh;
    color: #A9A9A9;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1vh;
    font-weight: lighter !important;
}

.email-text {
    font-size: 2.75vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    transition: 700ms ease;
    line-height: 5vh;
}

.email-text:hover {
    color: #E1AD01;
}

.email-text2 {
    font-size: 7vh;
    font-weight: 300;
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 700ms ease;
    font-weight: bold;
    line-height: 5vh;
    position: relative;
    background: linear-gradient(to right, #E1AD01 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 700ms ease;
}

.email-text2:hover {
    background-position: left bottom;
}

.email-text2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% bottom;
    transition: background-position 0.7s ease;
}

.email-text2:hover::before {
    background-position: 0 bottom;
}



.linkedin-text {
    font-size: 2vh;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    transition: 700ms ease;
}

.linkedin-text:hover {
    color: #0A66C2;
}

.github-text {
    font-size: 2vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    transition: 700ms ease;
}

.github-text:hover {
    color: #d3d3d3;
}

.instagram-text {
    font-size: 2vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    transition: 700ms ease;
}

.instagram-text:hover {
    color: #833AB4;
}

#email {
    cursor: pointer;
}

.footer {
    color: white;
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures the footer spans the full width */
    box-sizing: border-box;
    position: relative;
}

.footer-email-div {
    padding-left: 25vw;
    padding-right: 15vw;
    padding-top: 18vh;
    padding-bottom: 5vh;
    /* background-color: white; */
    max-width: 800px;
    position: relative;
    /* justify-content: center; */
}

.version-time, .socials {
    padding: 0 1rem;
}

.socials a {
    color: white;
    text-decoration: none;
    margin-right: 1rem; /* Adjust as necessary for spacing between links */
    /* Other styles as necessary */
}   

.home-footer-text {
    padding-top: 10rem;
    font-size: 5vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1vh;
}

.footer-separator {
    display: inline-block;
    height: 10vh;
}

.footer-separator2 {
    display: inline-block;
    height: 8vh;
}

#time-element {
    padding-left: 10px;
}
  
/*debugging, showing div spaces*/
/*
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    outline: 1px solid red;
}
*/

.animate-character {
    font-family: Inter;
    background-image: linear-gradient(
        -225deg,
        #ead1a8 0%,
        #d3d3d3 29%,
        #9db8d4 67%,
        #ead1a8 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 7vh;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 700px) {
    .inside-name-box, .resume-top-right, .about-top-right {
        font-size: 4.5vw;
    }
    .inside-about {
        font-size: 4.5vw;
    }
    .header-text {
        font-size: 7vw;
    }
    .about-header-div {
        margin: 0;
        padding-left: 2.75vw;
        padding-right: 2.75vw;
    }
    .about-header-text {
        font-size: 6vw;
    }
    .about-text {
        font-size: 4vw;
    }
    .lavender-div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .sub-header-div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .animate-character {
        font-size: 7vw;
    }
    .sub-sub-header {
        font-size: 6vw;
    }
    .home-footer-text {
        font-size: 3vw;
    }
    .email-text, .email-text2 {
        font-size: 8vw;
        line-height: 5vh;
    }
    .footer-separator2 {
        height: 1vh;
    }
    .footer-email-div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .footer, .linkedin-text, .github-text, .instagram-text {
        font-size: 1.95vw;
    }
}

.sample-text {
    font-size: 2.5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1vh;
}

/* @media screen and (max-height: 700px) {
    .sample-text {
        font-size: 4vh;
    }
    .inside-name-box, .resume-top-right, .about-top-right {
        font-size: 4.5vh;
    }
    .inside-about {
        font-size: 4.5vh;
    }
    .header-text {
        font-size: 5vw;
    }
    .about-header-div {
        margin: 0;
        padding-left: 2.75vw;
        padding-right: 2.75vw;
    }
    .about-header-text {
        font-size: 5vw;
    }
    .about-text {
        font-size: 4vw;
    }
    .lavender-div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .sub-header-div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .animate-character {
        font-size: 5vw;
    }
    .sub-sub-header {
        font-size: 6vw;
    }
    .home-footer-text {
        font-size: 2vh;
    }
    .email-text, .email-text2, .linkedin-text, .github-text {
        font-size: 3vw;
        line-height: 5vh;
    }
} */

@keyframes verticalPopIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.text-pop-in {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: verticalPopIn;
}

.custom-cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }
  